* { 
    box-sizing: border-box; 
    }
.classimage{
    width : 300px;
    border-radius: 25px;
    max-width: 100%;  
    height: auto; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
}
.classimage:hover {
    transform: scale(1.03);  
    transition: transform 0.3s ease; 
}
.h1{
    width : 1000px;
    font-family: Arial,;

}
.h2{
    width : 500px;
    font-family: Arial, ;

}
.Texto{
    font-size: 18px ;
    font-family: Arial; 
    color: red;
}
.enlaces{
    font-size: 18px ;
    font-family: Arial; 
    color: red;
}

.section{
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ecaf4d;
    border-radius: 8px;
    background-color: #e3be68;

}
html{
    background-color: #ecaf4d;

}
main{
    background-color: #ecaf4d;
    border-radius: 8px;
}
header{
    background-color: rgb(218, 213, 153);
    border-radius: 8px;
    padding: 10px;
    margin-right: 500px;

}
footer {  

    background-color: #ddc893;  

    color: white; 

    padding: 5px;  

    text-align: left;

    border-radius: 8px;
    
    margin-top: 5px;
}
body {  

    font-family: Arial, sans-serif;  

    background-color: #ecaf4d;  

    color: #333;  

    line-height: 1.6;

    border-radius: 8px;

}
.container {

  display: flex;

  justify-content: center;    /* Alineación horizontal */

  align-items: center;        /* Alineación vertical */

  gap: 20px;                  /* Espacio entre elementos */

}   
.nav-links {  

    display: flex;  

    gap: 20px;  

    justify-content: center;

}
@media (max-width: 600px) {  

  body {  

    padding: 10px;  

  }  

  

  header {  

    padding: 15px;  

  }  
  
  .nav-links {  

    flex-direction: column;  

    gap: 10px;  

  }  

  

}

.enlaces:hover {  

  color: white;  
    transition: color 1.3s ease;  

}

